<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <course></course> -->
  <!-- <app-data-events></app-data-events> -->
  <!-- <app-reusable [isSelected] = selected (change)='changed($event)'><ng-container class='tets'>test</ng-container></app-reusable> -->
  <!-- <app-directive></app-directive> -->
  <!-- <input type="text" appCusDirective [case] ="'u'"> -->
 <!-- </div> --> 
<!-- <app-template-form></app-template-form> -->
<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- <app-root></app-root> -->
<app-apidata></app-apidata>

